.container
  margin: 0 auto
  width: 1000px
#header
  background-color: $grisClaro
  height: 37px
  width: 100%
  .header
    display: flex
    justify-content: space-between
    .logo
      background: url('../img/iconos/logoHeader.svg') no-repeat
      height: 120px
      width: 350px
      a
        display: block
        height: 100%
    .redesSociales
      display: flex
      padding: 0
      list-style: none
      margin: 8px 0 0 0
      height: 25px
      width: 105px
      li
        height: 20px
        width: 22px
        background: url('../img/iconos/logosRedes.svg') no-repeat
        background-size: 90px
        margin: 0px 5px 0 0
        a
          display: block
          height: 100%
      .facebook
        background-position-x: -1px
      .twitter
        background-position-x: -24px
      .instagram
        background-position-x: -46px
      .youtube
        background-position-x: -69px
