#home
  margin-top: 110px
  display: flex
  display: -webkit-flex
  display: -moz-flex
  .content
    width: 500px
  .left
    #devices
      display: flex
      display: -webkit-flex
      display: -moz-flex
      justify-content: space-between
      -webkit-justify-content: space-between
      -moz-justify-content: space-between
      align-items: flex-end
      -webkit-align-items: flex-end
      -moz-align-items: flex-end
      width: 350px
      .desktop
        background: url('../img/iconos/laptop.svg') no-repeat
        height: 112px
        width: 194px
      .tablet
        background: url('../img/iconos/tablet.svg') no-repeat
        height: 92px
        width: 65px
      .movil
        background: url('../img/iconos/movil.svg') no-repeat
        height: 60px
        width: 30px
    #tipoBanner
      background: url('../img/soporteWeb.png') no-repeat
      background-position-x: -40px
      display: flex
      display: -webkit-flex
      display: -moz-flex
      align-items: center
      -webkit-align-items: center
      -moz-align-items: center
      height: 420px
      width: 470px
      #listBannersDesktop
        margin: 20px 0 0 0
        padding: 0
        list-style: none
        display: flex
        display: -webkit-flex
        display: -moz-flex
        flex-direction: column
        -webkit-flex-direction: column
        -moz-flex-direction: column
        border-left: 4px solid $rojo
        padding: 5px 0 5px 10px
        li
          margin-bottom: 7px
          .160x160
            margin: 0
          h3
            margin: 0
            text-transform: uppercase
    strong
      font-size: 24px
      line-height: 26px
      cursor: pointer
      position: relative
      .flecha
        display: none
        background: url('../img/iconos/flecha.svg') no-repeat
        position: absolute
        top: 0
        right: -32px
        height: 30px
        width: 28px
      .active
        display: block
      span
        font-weight: 300
        color: $gris
    .landing
      border-left: 4px solid $rojo
      padding: 5px 0 5px 10px
      margin: 50px 0
    .boletin
      border-left: 4px solid $rojo
      padding: 5px 0 5px 10px
  .right
    .deviceDesktop
      position: relative
      background: url('../img/desktop.png') no-repeat
      background-size: 500px
      background-position: 50%
      height: 360px
      width: 100%
      .uno, .dos, .tres, .cuatro, .cinco, .seis, .siete, .ocho
        display: none
      .uno
        background: url('../img/iconos/1000x90.svg') no-repeat
        position: absolute
        top: 69px
        left: 0
        right: 0
        margin: 0 auto
        height: 22px
        width: 168px
      .dos
        background: url('../img/iconos/1000x50.svg') no-repeat
        position: absolute
        top: 25px
        left: 0
        right: 0
        margin: 0 auto
        height: 22px
        width: 168px
      .tres // 728x90
        background: url('../img/iconos/728x90.svg') no-repeat
        position: absolute
        top: 69px
        left: 0
        right: 0
        margin: 0 auto
        height: 22px
        width: 168px
      .cuatro // 320x250
        background: url('../img/iconos/300x250.svg') no-repeat
        position: absolute
        top: 92px
        right: 166px
        height: 45px
        width: 50px
      .cinco // flotante
        background: url('../img/iconos/flotanteDesktop.svg') no-repeat
        position: absolute
        bottom: 123px
        right: 166px
        height: 12px
        width: 169px
      .seis // invasivo
        background: url('../img/iconos/invasivoDesktop.svg') no-repeat
        position: absolute
        bottom: 170px
        right: 0
        left: 0
        margin: 0 auto
        background-size: 100%
        height: 100px
        width: 100px
      .siete
        background: url('../img/iconos/160x600.svg') no-repeat
        position: absolute
        top: 24px
        right: 0
        left: 0
        margin: 0 auto
        background-size: 100%
        height: 73px
        width: 215px
      .ocho // lateral 160x600
        background: url('../img/iconos/160x600.svg') no-repeat
        position: absolute
        top: 24px
        right: 0
        left: 0
        margin: 0 auto
        background-size: 100%
        height: 73px
        width: 215px
      .active
        display: block
